@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.one {
  background: rgba(86, 205, 173, 0.1);
  color: green;
  /* border:1px solid green; */
}
.line {
  border-left: 1px solid rgba(214, 221, 235, 1);
}
.two {
  border: 1px solid rgba(255, 184, 54, 1);
  color: rgba(255, 184, 54, 1);
  background: rgba(255, 184, 54, 0.1);
}
.three {
  color: rgba(70, 64, 222, 1);
  border: 1px solid rgba(70, 64, 222, 1);
  background: rgba(70, 64, 222, 0.1);
}

.four {
  color: rgba(70, 64, 222, 1);
  background: rgba(70, 64, 222, 0.1);
}
